/* Apply styles to the 'App' component */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Apply styles to the 'button' element within the 'App' component */
.App button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Apply styles to the 'center' element within the 'App' component */
.App center {
  margin-top: 20px;
}

/* Apply styles to the 'FunctionalComponent' and 'Detalis' components */
.FunctionalComponent, .Detalis {
  font-size: 18px;
  margin: 10px;
}

/* Apply styles to the 'Mybutton' and 'Mybutton1' components */
.Mybutton, .Mybutton1 {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
}






/* Apply styles to the 'Master', 'Home', 'About', and 'Contact' components */
.Master, .Home, .About, .Contact {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}

header{
  background-color: rgb(240, 141, 47);
  font-family: cursive;
  padding: 30px;
  margin: auto;

}

/* Apply styles to the 'Link' elements within the 'App' component */
.App a {
  text-decoration: none;
  color: #0074d9;
}

